.home-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1rem;
  margin-top: 80px;
}

.home-title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 40%;
  gap: 1.5rem;
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
}
