.navbar {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(160, 238, 192, 0);
  backdrop-filter: blur(6px);
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  padding: 1rem 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.navbar a {
  text-decoration: none;
  color: #222;
  font-weight: bold;
  font-size: 1.1rem;
  transition: color 0.2s;
}

.navbar a:hover {
  color: #007755;
}
